<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.uhf.handsetapp.handsetapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.uhf.handsetapp.AppBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--用户名 密码设置于此-->
        <meta-data
            android:name="login_account"
            android:value="admin"
            />
        <meta-data
            android:name="login_pwd"
            android:value="admin"
            />

        <activity android:name="com.uhf.handsetapp.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>